.chat-main
  .main-header
    .main-header__left-box
      .main-header__leftbox__current-group
        グループ
      .main-header__leftbox__member-list
        大柴
    = link_to "#", class: "edit-btn" do
      Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'

