.chat-side
  .side-bar
    .side-bar__box
      %p.side-bar__box__username
        = current_user.name
      %ul.side-bar__box__menu
        %li.side-bar__box__edit-user
          = link_to "#" do
            = icon('fas', 'pen-square') 
        %li.side-bar__box__new-group
          = link_to "#" do
            = icon('fas', 'cog') 
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group__group-name
            = group.name
          .group__latest-message
            メッセージはまだありません。